<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings> <add name="GalleryDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=D:\Programs\GitHub\ClassTutorial3V1\Art Gallery 3 (Git) Master\Database\Gallery_Data.mdf; Database=GALLERY_DATA.MDF"/> </connectionStrings>
</configuration>